#bg{
	-fx-alignment: center;
	-fx-background-color: #FFFFFF;
	-fx-background-image: url("grid-png-43559.png");
    -fx-background-repeat: repeat repeat;   
    -fx-background-size: 500;
    -fx-background-position: bottom left;
}